.contact_list {
    width: 400px;
  }
  
  .contact_list_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .contact_name {
    margin-right: 20px;
  }
  
  .inner_form {
    width: 400px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .btn_form {
    width: 25%;
  }