.header 
{
    background: rgb(72, 44, 197);
    display: flex;
}
img
{
    display: block;
    width: 100px;
    height: 100px;
}
ul
{
    display: flex;
    width: 400px;
    justify-content: space-between;
}